{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="main-title">
        <p>Breaking</p>
        <p>Kahoot !</p>
    </h1>

    <header>
        <h2 class="score">Score : {{score}} points</h2>
        <h2 class="question">Question : {{current_question}} / {{max_questions}}</h2>
    </header>

    <form action="/check" method="POST">
        <input type="hidden" value="{{hash}}" name="answer">

        <div class="game">
            <div class="img">
                <img class="character-img" src="{{answer.img}}" alt="">
            </div>

            <div class="responses">
                {% for character in characters %}
                    <div class="reponse-bloc">
                        <label class="form-control" for="reponse{{character.char_id}}">{{character.name}}</label>
                        <input id="reponse{{character.char_id}}" type="radio" name="reponse" value="{{character.char_id}}">
                    </div>
                {% endfor %}
            </div>
        </div>

        <button class="btn validation" type="submit">Valider ma réponse</button>
    </form>
{% endblock %}
